#contacts {
  margin-top: $gridgutter * 3;
  background-color: $graylight;
  display: flex;

  > .col6 {
    &.formcontainer {
      padding-right: $gridgutter / 2;
      .form {
        width: 100%;
        box-sizing: border-box;
        padding-left: $gridgutter / 2;
        padding-right: $gridgutter / 2;
        display: block;
        float: right;
        padding-bottom: $gridgutter * 2;
        form {
          h2 {
            font-size: 56px;
            margin: $gridgutter * 3 0 0;
          }
          p {
            @extend .graydark;
            margin: $gridgutter * 1.5 0;
            text-align: center;
          }
          input,
          textarea {
            @extend .graydark;
            @extend .animate;
            box-sizing: border-box;
            margin: 0 0 $gridgutter / 3 * 2;
            border: $formborderwidth solid $gray;
            width: 100%;
            line-height: $formlineheight;
            padding: ((64 - $formlineheight) / 2 - ($formborderwidth * 2))
              $gridgutter / 2;
            &:focus {
              border-color: $secondary;
            }
          }
          button {
            @extend .white;
            @extend .animate;
            margin: 0 0 $gridgutter / 3 * 2;
            background-color: $primary;
            text-transform: uppercase;
            line-height: $formlineheight;
            padding: ((64 - $formlineheight) / 2 - ($formborderwidth * 2))
              $gridgutter;
            border: none;
            cursor: pointer;
            &:hover {
              background-color: $secondary;
            }
          }
        }
      }
    }
    &#map {
      height: 250px;
      background-image: url(../imgs/map.JPG);
      background-size: cover;
      background-position: right top;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 769px) {
  #contacts {
    > .col6 {
      &.formcontainer {
        .form {
          form {
            h2 {
              font-size: 60px;
            }
          }
        }
      }
      &#map {
        height: 500px;
        background-image: url(../imgs/menu.jpg);
      }
    }
  }
}

@media (min-width: 1260px) {
  #contacts {
    > .col6 {
      &.formcontainer {
        .form {
          box-sizing: content-box;
          width: $gridwidth / 2 - $gridgutter;
          form {
            h2 {
              font-size: 72px;
            }
          }
        }
      }

      &#map {
        height: unset;
        background-image: url(../imgs/map.JPG);
      }
    }
  }
}
