footer {
  background-image: url(../imgs/bgfooter.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: $gridgutter * 2;
  h2 {
    font-size: 56px;
    margin: 0;
  }
  p {
    margin: $gridgutter 0;
  }
  a {
    @extend .animate;
    @extend .secondary;
    text-decoration: none;
    font-size: 32px;
    display: inline-block;
    padding: $gridgutter / 4;
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

@media (min-width: 769px) {
  footer {
    background-image: url(../imgs/header.jpg);
    h2 {
      font-size: 60px;
    }
  }
}

@media (min-width: 1260px) {
  footer {
    background-image: url(../imgs/bgfooter.jpg);
    h2 {
      font-size: 72px;
    }
  }
}
