.gridrowfull {
  width: 100%;
}
.gridrow {
  width: $gridwidth-m;
  margin: 0 auto;
}

.gridrowfull,
.gridrow {
  display: flex;
  flex-wrap: wrap;
  @for $i from 0 through $gridcolumns-m {
    .col-m#{$i} {
      box-sizing: border-box;
      width: percentage($i/$gridcolumns-m);
      padding-left: $gridgutter / 2;
      padding-right: $gridgutter / 2;
    }
    .offset-m#{$i} {
      margin-left: percentage($i/$gridcolumns-m);
    }
  }
  &.nogutter {
    @for $i from 1 through $gridcolumns-m {
      .col-m#{$i} {
        padding: 0;
      }
    }
  }
}

@media (min-width: 769px) {
  .gridrowfull,
  .gridrow {
    @for $i from 1 through $gridcolumns {
      .col-t#{$i} {
        box-sizing: border-box;
        width: percentage($i/$gridcolumns);
        padding-left: $gridgutter / 2;
        padding-right: $gridgutter / 2;
      }
      .offset-t#{$i} {
        margin-left: percentage($i/$gridcolumns);
      }
    }
  }
}

@media (min-width: 1260px) {
  .gridrow {
    width: $gridwidth;
    margin: 0 auto;
  }

  .gridrowfull,
  .gridrow {
    @for $i from 1 through $gridcolumns {
      .col#{$i} {
        box-sizing: border-box;
        width: percentage($i/$gridcolumns);
        padding-left: $gridgutter / 2;
        padding-right: $gridgutter / 2;
      }
      .offset#{$i} {
        margin-left: percentage($i/$gridcolumns);
      }
    }
    &.nogutter {
      @for $i from 1 through $gridcolumns {
        .col#{$i} {
          padding: 0;
        }
      }
    }
  }
}
