.imggrid {
  margin-top: $gridgutter * 4;
}
#clients {
  margin-top: $gridgutter * 4;
  h2 {
    font-size: 56px;
    margin: 0;
  }
  .clientslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: $gridgutter * 2;
    img {
      @extend .animate;
      box-sizing: border-box;
      padding: $gridgutter / 2;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 769px) {
  #clients {
    h2 {
      font-size: $gridgutter * 2;
    }
  }
}

@media (min-width: 1260px) {
}
